# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables files
.env
.env.local
.env.*

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# PyCharm project settings
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy static type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# PEP 582; used by pythonp
__pypackages__/

# Local test logs
*.log

# VS Code workspace file
*.code-workspace

# Pydantic / Pydantic V2 compiled models cache
.pydantic/

# Temporary files
*.tmp
*.bak

# SQL database files
*.sqlite3

# Profiling data
.prof

# Local secrets
secrets.json


# Temp files
existing_vectorstore